{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Поменять пароль{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center pt-md-5">
    <div class="card col-4">
      <div class="card-header">
        <h6>Поменять пароль</h6>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="pt-md-3">
            <button class="btn btn-custom" type="submit">Поменять пароль</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}