{% load static %}
{% with request.resolver_match.view_name as view_name %}
<!-- Header with navigation menu -->
<header>
  <div class="d-flex pt-4 mb-md-3">
    <div class="col-md-5 px-md-5 d-flex align-items-center">
      <nav class="nav nav-masthead text-start">
        {% if user.is_authenticated %}
        <a class="nav-link fw-bold px-md-0 py-1{% if view_name == 'scoring:index' %} active" 
          aria-current="page{% endif %}" href="{% url 'scoring:index' %}">Реестр запросов</a>
        <a class="nav-link fw-bold px-0 py-1{% if view_name == 'scoring:make_request' %} active" 
          aria-current="page{% endif %}" href="{% url 'scoring:make_request' %}">Направить запрос</a>
          <a class="nav-link fw-bold px-0 py-1{% if view_name == 'scoring:company' %} active" 
          aria-current="page{% endif %}" href="{% url 'scoring:company' %}">Проверить компанию</a>
        {% endif %}
      </nav>
    </div>
    <div class="col-md-2 d-none d-md-flex justify-content-center">
      <img src="{% static 'img/jusan_logo.png' %}" alt="Jusan Image" class="img-fluid mx-auto">
    </div>
    <div class="col-md-5 px-md-5 d-flex align-items-center justify-content-end">
      <nav class="nav nav-masthead">
        <!-- Login/Logout menu -->
        {% if user.is_authenticated %}
        <div class="fw-bold px-3 py-1">{{ user.get_full_name }}</div>
        <a class="nav-link fw-bold px-0 py-1 {% if view_name == 'logout' %} active" aria-current="page{% endif %}" href="{% url 'logout' %}">Выйти</a>
        <a class="nav-link fw-bold px-0 py-1 {% if view_name == 'password_change' %} active" aria-current="page{% endif %}" href="{% url 'password_change' %}">Изменить пароль</a>
        {% endif %}
      </nav>
    </div>
  </div>
</header>
{% endwith %}